body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    font-size: 16px;
    padding: 0;
    margin: 0;
}
#cabecera{
    background: #88f;
    color: white;
    margin: 0;
    padding: o.5rem;
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    
}
#container h1{
    font-size: 20px;
}
